h1, h2 {
    color: brown;
    margin-left: 30px;
}


.header{
    background-color: white;
    display: flex;
    
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
    background-color: gray;
}



body{
    background-color:white;
}

a:link{
    color: white;
}

a:visited{
    color: white;
}

.menu{
    margin-right: 30px;
}

.menu a{
    margin-left: 20px;
}

.item{
    position: relative;
    border: solid;
}

.item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity:0;
  
}

.item:hover p{
    opacity: 1;
}

.item:hover img{
    opacity: 0.33;
    height: 100%;
    width: 100%;
} 
